<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= eachdbEntry.name%></title>
</head>
<body>

    <%= eachdbEntry.description%>
    <ul>
        <li>category:: <%=eachdbEntry.category %></li>
        <li>show:: <%=eachdbEntry.show %></li>
        <li>occurances:: <%=eachdbEntry.occurance %></li>
    </ul>

    <p>edit form for <%= eachdbEntry.name%></p>
    <form action="/adminAll/<%=eachdbEntry._id%>?_method=PUT" method="POST">
            <label for="category">Category</label>
            <select name="category" id="">
                <option value="red">Red</option>
                <option value="yellow">Yellow</option>
                <option value="green">Green</option>
            </select>
            <label for="show">show</label>
            <select name="show" id="">
                <option value="yes">yes</option>
                <option value="no">no</option>
            </select>
            <input type="text" name="description" placeholder="<%= eachdbEntry.description%>">
            <label for="description">Track Event</label>
            <input type="number" name="occurance" placeholder="<%=eachdbEntry.occurance %>">
            <button>Submit</button>
        </form>
</body>
</html>