<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css file is below the bootstrap, style.css formatting will override the bootstrap
    
    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>index.html</title>
</head>

<body>
    <!-- navbar from bootstrap -->
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class=" nav-link active" aria-current="page" href="#">See</a>
                    <a class=" nav-link" href="#">Something</a>
                    <a class=" nav-link" href="#">Say</a>
                    <a class=" nav-link disabled">Something</a>
                </div>
            </div>
        </div>
    </nav>
    <!--navbar code ended  -->
    <!-- js trial -->
    <!-- <button id="myButton" onclick="clickBtn()">Click me!</button>
  <p id="btn"></p> -->
    <!-- js trial -->
    <div id="visualWrapper">
        <div id="maincontent">
            <form action="/track" method="POST">
            <div class="row">

                <div class="col-sm mt-4">

                    <div class="lightCase d-flex align-items-center justify-content-md-center">
                        <!-- create a variable from the data in the database and feed it here -->
                        <div class="light" id="red" value="occurance"></div>
                        <!-- create a variable from the data in the database and feed it here -->
                    </div>
                    <div class="feedback mt-2" id="red">
                        <%for(let entry of allEntries){%>
                            <% if (entry.category=="red" && entry.show=="yes" ) { %>
                                <button class="feedbackCategory" onclick="clickBtn(`<%= entry._id %>`, 'red')"><span
                                        class="clickRate" id="<%= entry._id %>">0</span>
                                    <%=entry.description %>
                                </button>
                                <%}%>
                                    <%}%>

                                        <label for="detailsRed">Details you want to share</label><br>
                                        <textarea name="detailsRed" placeholder="Anything Additional?"></textarea>
                    </div>
                </div>
                <div class="col-sm mt-4">
                    <div class="lightCase d-flex align-items-center justify-content-md-center">
                        <div class="light" id="yellow"></div>
                    </div>
                    <div class="feedback mt-2" id="yellow">
                        <!-- the feedback code will go here -->
                        <%for(let entry of allEntries){%>
                            <% if (entry.category=="yellow" && entry.show=="yes" ) { %>
                                <button class="feedbackCategory" onclick="clickBtn(`<%= entry._id %>`, 'yellow')"><span
                                        class="clickRate" id="<%= entry._id %>">0</span>
                                    <%=entry.description %>
                                </button>
                                <%}%>
                            <%}%>
                            <label for="detailsYellow">Details you want to share</label><br>
                            <textarea name="detailsYellow" placeholder="Anything Additional?"></textarea>
                    </div>
                </div>
                <div class="col-sm mt-4">
                    <div class="lightCase d-flex align-items-center justify-content-md-center">
                        <div class="light" id="green"></div>
                    </div>
                    <div class="feedback mt-2" id="green">
                        <!-- the feedback code will go here -->
                        <%for(let entry of allEntries){%>
                            <% if (entry.category=="green" ) { %>
                                <button class="feedbackCategory" onclick="clickBtn(`<%= entry._id %>`, 'green')"><span
                                        class="clickRate" id="<%= entry._id %>">0</span>
                                    <%=entry.description %>
                                </button>
                                <%}%>
                            <%}%>
                            <label for="detailsGreen">Details you want to share</label><br>
                            <textarea name="detailsGreen" placeholder="Anything Additional?"></textarea>
                    </div>
                </div>
                <div class="col-sm mt-4">
                    <div class="lightCase d-flex align-items-center justify-content-md-center">
                        <div class="light" id="purple"></div>
                    </div>
                    <div class="feedback mt-2" id="purple">
                        <!-- the feedback code will go here -->
                        <div class="final row">
                            <div>
                                <input type="hidden" name="entry" id="entry" value="">
                                <label for="class">Enter Class number in SUBJXXX format please</label><br>
                                <input type="text" name="classId" placeholder="CHEM2301" required><br>
                                <label for="email">Non University Email</label><br>
                                <input type="text" name="email" placeholder="coolPerson1@gmail.com" required><br>
                                <label for="university">University</label><br>
                                <select name="university">
                                    <option value="Mt.Royal">Mt.Royal </option>
                                    <option value="other">other</option>
                                </select>
                                <label for="details">Details you want to share</label><br>
                                <textarea name="details" placeholder="Anything Additional?"></textarea>
                                <label for="overall">Recommendation</label><br>
                                <select name="recommendation">
                                    <option value="great">Elective-Good experience </option>
                                    <option value="drop">Drop</option>
                                    <option value="gRequired">Required Credit-Good experience</option>
                                    <option value="bRequired">Required Credit-Bad experience</option>
                                </select>
                                <br>
                                <button class="feedbackCategory">Final Submit</button>
                            </div>
                            

                        </div>

                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

    <!-- scripts -->
    <!-- bootstrap -->
    <!-- scripts -->
    <script type="text/javascript" src="./js/function.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

</body>

</html>